#actions {
    width: 100%;
    height: 20vh;

    position: absolute;
    bottom: 0;
    z-index: 5;

    background-color: rgba(127, 127, 127, 0.5);
}

#opponent-position {
    min-width: 150px;
    width: 40vh;
    min-height: 150px;
    height: 40vh;

    position: absolute;
    right: 10%;
    top: 5%;

    background-color: red;
}

#opponent-info {
    min-width: 300px;
    width: 30vw;
    height: 50px;

    position: absolute;
    left: 0;
    top: 17.5vh;
    z-index: 4;

    background-color: grey;
}

#player-position {
    min-width: 400px;
    width: 40vw;
    min-height: 200px;
    height: 40vh;

    position: absolute;
    left: 10%;
    bottom: 7.5%;

    background-color: green;
}

#player-info {
    min-width: 300px;
    width: 30vw;
    height: 50px;

    position: absolute;
    right: 0;
    bottom: 22.5vh;
    z-index: 4;

    background-color: grey;
}