#game-top, #game-bot {
    box-sizing: border-box;
    max-width: 97.5vw;
    height: 47.5vh;
    object-fit: contain;

    /* border: 1px solid black; */
    display: block;
    z-index: 3;

    image-rendering: pixelated;
}

#game-top {
    margin: 2.5vh auto 0 auto;
}

#game-bot {
    margin: 0 auto 2.5vh auto;
}