@import "./game.css";

html, body {
    margin: 0;
    padding: 0;
}

#main-screen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    padding: 5vh;

    background-color: black;
    display: none;

    color: white;
    text-align: center;
}

#story {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    padding: 5vh;

    background-color: black;
    display: none;

    color: white;
    text-align: center;
}