@import "./game.css";

/* DEFAULT, GENERAL */
@font-face {
    font-family: "Pixelade";
    src: url("./../font/PIXELADE.TTF");
}

@font-face {
    font-family: "Pixelmix";
    src: url("./../font/pixelmix.ttf");
}

/* NAME, HP */
/* @font-face {
    font-family: "Fipps";
    src: url("./../font/Fipps-Regular.otf");
} */

/* @font-face {
    font-family: "FatalFury";
    src: url("./../font/m04.TTF");
} */

/* ACTIONS */
@font-face {
    font-family: "PixelOperatorBold";
    src: url("./../font/PixelOperator-Bold.ttf");
}


html, body {
    margin: 0;
    padding: 0;
}

#main-screen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    padding: 5vh;

    background-color: black;
    display: none;

    color: white;
    text-align: center;
}

#story {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    padding: 5vh;

    background-color: black;
    display: none;

    color: white;
    text-align: center;
}

#story-text {
    font-family: "Pixelade";
}

#game-screen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: absolute;
    z-index: 2;
}

#game-screen-background {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    background-position: center;
    background-size: cover;

    filter: blur(20px);
    transform: scale(1.1);
}

#game-screen-background-overlay {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 1.0);
}